<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
    <div class="container">
        <div class="m-3" style="text-align: center;">
            <h1><%= category.name %></h1>
            <% const productsArray = category.Products; %>
            <% productsArray.forEach(product => { %>
                <div class="card m-4  text-center" style="width: 18rem; display: inline-block">
                    <img src="/products-images/<%= product.image %>" class="card-img-top" alt="Product Image" style="max-height: 180px;">
                    <div class="card-body">
                      <a href="/products/<%= product.id %>" target="_blank"><h2 class="card-title"><%= product.name %></h2></a>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio repudiandae labore.</p>
                      <h3 class="card-text">$ <%= product.price %></h3>
                      <% if(user){ %>
                        <button class="btn btn-dark  col-6" onclick="addToCart('<%= product.id %>', '<%= user.id %>')">Add to cart</button>
                        <% } else {%>
                        <button class="btn btn-dark  col-6" disabled>Add to cart</button>
                      <% }%>
                      <div class="viewed-times" style="display: inline-block;">
                       <i class="fa-solid fa-eye" style="display: inline;"></i>
                       <p style="display: inline; margin: 0;" title="viewed times"></p><%= product.viewedTimes %></p>
                       </div>
                       <div class="saled-times" style="display: inline-block;">
                       <i class="fa-solid fa-cart-shopping"></i>
                       <p style="display: inline; margin: 0;"></p><%= product.saledTimes %></p>
                      </div>
                    </div>
                 </div>
            <% }); %>
        </div>
    </div>
<%- include('./public-partials/publicFooter.ejs') %>