<%- include('./control-panel/partials/adminHead.ejs') %>
<%- include('./control-panel/partials/nav.ejs') %>
<div class="container">
    <div class="title">
        <h3>Dashboard</h3>
    </div>
    <div class="dashboard">
        <div class="row">
            <div class="col-md-3 bg-dark m-2" style="color: white; text-align: center; border-radius: 10px;">
                <a href="/admin/sales-invoices" style="text-decoration: none; color: white;">
                    <h3><%= salesInvoicesHeads.length %></h3>
                    <h5>Sales Invoices</h5>
                </a>
            </div>
            <div class="col-md-3 bg-dark m-2" style="color: white; text-align: center; border-radius: 10px;">
                <a href="/admin/purchase-invoices" style="text-decoration: none; color: white;">
                    <h3><%= purchaseInvoiceHeads.length %></h3>
                    <h5>Purchase Invoices</h5>
                </a>
            </div>
            <div class="col-md-3 bg-dark m-2" style="color: white; text-align: center; border-radius: 10px;">
                <a href="/admin/products" style="text-decoration: none; color: white;">
                    <h3><%= products.length %></h3>
                    <h5>Products</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 bg-dark m-2" style="color: white; text-align: center; border-radius: 10px;">
                <a href="/admin/sales-invoices" style="text-decoration: none; color: white;">
                    <% let total = 0 %>
                    <% salesInvoicesHeads.forEach(invoice => { %>
                        <% total = total + invoice.total %>
                    <% }); %>
                    <h3>$<%= total %></h3>
                    <h5>Total Sales</h5>
                </a>
            </div>
            <div class="col-md-3 bg-dark m-2" style="color: white; text-align: center; border-radius: 10px;">
                <a href="/admin/purchase-invoices" style="text-decoration: none; color: white;">
                    <% let purchaseTotal = 0 %>
                    <% purchaseInvoiceHeads.forEach(invoice => { %>
                        <% purchaseTotal = purchaseTotal + invoice.total %>    
                    <% }); %>
                    <h3>$<%= purchaseTotal %></h3>
                    <h5>Total Purchases</h5>
                </a>
            </div>
            <div class="col-md-3 bg-dark m-2" style="color: white; text-align: center; border-radius: 10px;">
                <a href="/admin/categories" style="text-decoration: none; color: white;">
                    <h3><%= categories.length %></h3>
                    <h5>Categories</h5>
                </a>
            </div>
        </div>
        <hr>
        <div class="charts m-3">
            <canvas id="sales-chart"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/js/control-panal-js/dashboard.js"></script>
<%- include('./control-panel/partials/footer.ejs') %>