<%- include('./control-panel/partials/adminHead.ejs') %>
<%- include('./control-panel/partials/nav.ejs') %>
<div class="container">
    <div class="title">
        <h3>purchase invoices</h3>
    </div>
    <div class="purchase-invoices-table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Total</th>
                    <th scope="col">Show</th>
                </tr>
            </thead>
            <tbody>
                <% if(purchaseInvoices.length > 0 ){ %>
                    <% purchaseInvoices.forEach(invoice => { %>
                        <tr>
                            <th scope="row"><%= invoice.id %></th>
                            <% let date = invoice.createdAt %>
                            <td><%= date.getDay() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></td>
                            <td><%= invoice.supplierName %></td>
                            <td><%= invoice.total %></td>
                            <td><button class="btn btn-secondary">Show</button></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <h6>There is no Purchase Invoices</h6>

                <% } %>
            </tbody>
        </table>
    </div>
    <div class="add-purchase-invoice">
        <a href="/admin/add-purchase-invoice" class="btn btn-success">New</a>
    </div>
</div>
<script>
    const navLink = document.querySelector('#purchase-nav-link');

    window.onload = () => {
        navLink.classList.add('active');
    }
</script>
<%- include('./control-panel/partials/footer.ejs') %>