<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
    <h4 class="p-3">Something went wrong</h4>
    <h5 class="p-3"><%= error.message %></h5>
    <p class="p-3"><%= error.stack %></p>
<%- include('./public-partials/publicFooter.ejs') %>