<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
    <!-- product section start -->
    <div class="container">
        <div class="product-lp-details">
            <div class="row">
                <h2 class="col-6"><%= product.name %></h2>
                <!-- <a class="btn btn-dark col-6" href="#">Add to cart</a> -->
                <% if(user){ %>
                    <button class="btn btn-dark  col-6" onclick="addToCart('<%= product.id %>', '<%= user.id %>')">Add to cart</button>
                    <% } else {%>
                    <button class="btn btn-dark  col-6" disabled>Add to cart</button>
                 <% }%>
            </div>  
            <div class="row no-gutters justify-content-between">
                <h3 class="col-sm-10">$ <%= product.price %></h3>
                <div class="col-sm-2">
                    <div class="viewed-times">
                        <i class="fa-solid fa-eye"></i>
                        <p><%= product.viewedTimes %></p>
                    </div>
                    <div class="saled-times">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p><%= product.saledTimes %></p>
                    </div>

                </div>
            </div>
                <img src="/products-images/<%= product.image %>" alt="product image">
                <h4 class="mt-2">About This Product:</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur omnis qui repellat sint ad minus est voluptates, doloremque nostrum, voluptate praesentium, delectus placeat ducimus aperiam odio voluptas illum obcaecati exercitationem facilis consequatur cupiditate? At, eaque? Quae, commodi sunt reiciendis vero error iste ipsam fuga harum perferendis quo eaque recusandae eos fugit. Deserunt distinctio officiis rerum dicta voluptas nam eaque aliquam quas doloribus maxime cum ratione molestias, soluta fuga odit asperiores? Commodi est quae hic? Cupiditate recusandae aspernatur dolorum sunt, tempore vero dolore obcaecati harum magnam dolorem provident facere! Hic odit reprehenderit sunt possimus dicta, nobis vitae cumque repellendus? Consequuntur quis dolorem cumque quas velit laboriosam fuga, in distinctio? Odit sapiente cumque obcaecati quaerat provident, dolores enim asperiores nulla nobis vel. Nobis ullam delectus nulla vero expedita at quos, rerum necessitatibus, numquam tempora, ipsum autem cumque non nihil dolorem consequuntur impedit vel ex quam ratione odit! Cumque laboriosam nobis velit.</p>
        </div>
    </div>
    <!-- product section end -->

<%- include('./public-partials/publicFooter.ejs') %>