<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>

<!-- this page needs products array and searchWords to render -->
<div class="container">
    <p class="m-3">showing results for <b><%= searchWords %></b> :</p>
    <!-- products start -->
    <% if(products.length < 1) { %>
        <p><b>No Products Found for this search Please try search for another products</b></p>
    <% } else {%>
        <%- include('./public-partials/productsForNewReleasesAndBestSellers.ejs') %>
    <% } %>
    <!-- products end -->
</div>
<%- include('./public-partials/publicFooter.ejs') %>
