<div>
   <!-- products  section start -->
   <% let categoriesCount = 0 %>
   <% categories.forEach(category => { %>
      <% let productsCount = 0 %>
      <% if(categoriesCount <= 2) { %>
         <div class="category_section">
            <div class="category-title">
               <a href="/shop/categories/<%= category.id %>" target="_blank"><h2 style="text-align: center;"><%= category.name %></h2></a>
            </div>
            <div class="container">
               <% const productsArray = category.Products %>
               <% productsArray.forEach(product => { %>
                  <% if(productsCount <= 5) {%>
                     <div class="card m-4  text-center">
                        <img src="/products-images/<%= product.image %>" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                        <a href="/shop/products/<%= product.id %>" target="_blank"><h4 class="card-title"><%= product.name %></h4></a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio repudiandae labore.</p>
                        <h5 class="card-text">$ <%= product.price %></h5>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                        <div class="viewed-times">
                           <i class="fa-solid fa-eye"></i>
                           <p title="viewed times"><%= product.viewedTimes %></p>
                           </div>
                           <div class="saled-times">
                           <i class="fa-solid fa-cart-shopping"></i>
                           <p><%= product.saledTimes %></p>
                        </div>
                        </div>
                     </div>
                  <% } %>
                  <% productsCount ++ %>
               <% }); %>
            </div>
            <hr>
         </div>
      <% } %>
                           
      <% categoriesCount ++ %>
   <% }); %>
   <!-- products section end -->
</div>